.title {
    width: 33%;
    height: 100px;
    display: flex;
    vertical-align: middle;
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(255,255,255,0.4);
}
.title .logoBox {
    width: 40%;
    height: 50px;
    vertical-align: inherit;
    box-sizing: border-box;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.title .logoBox a img {
    width: 100%;
    height: 100%;
}
.title .swTitle {
    width: 60%;
    height: 80px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    margin-top: 5px;   
    color: #4277FF;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}