.powerFlow {
    width: 100%;
    height: 98%;
    /* background: rgba(255,255,255,0.2); */
    background: rgba(12,27,58,1);
    /* background: rgba(195,211,243,0.33); */
    /* background: rgba(255,252,141,0.4); */
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
    border: 2px solid #ffffff;
}
.powerFlow .solarPanel {
    position: absolute;
    width: auto;
    height: 100px;
    left: 100px;
}
.powerFlow .svgBody {
    /* background: white; */
    height: 100%;
    width: 100%;
}
.powerFlow .inverter01 {
    width: 90x;
    font-weight: 800;
    font-size: 16px;
    line-height: 1;
    height: 19px;
    margin-left: 1px;
    margin-top: 2px;
    margin-bottom: 1px;
    background: linear-gradient(to right, rgb(5,192,201), rgb(11,36,66));
    position: relative;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%, 0% 50%);
    box-sizing: border-box;
    /* border: 1px solid #fff; */
    /* border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, red, blue); */
    z-index: 100;
}
.powerFlow .inverter01before {
    background: #fff;
    position: fixed;
    width: 100%;
    height: 22px;
    z-index: 10;
    background: linear-gradient(to right, rgb(54,246,251), rgb(11,35,65));
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%, 0% 50%);
}
.powerFlow .realtimeData table {
    border-left: 1px solid transparent;
}
.powerFlow .realtimeData tr td:nth-child(1){
    border-left: 1px solid transparent;
    /* border-right: 1px solid transparent; */
}
.powerFlow .realtimeData tr td:nth-child(2){
    border-right: 1px solid transparent;
}
.powerFlow .realtimeData tr td{
    border: 1px solid #ededed;
    width: 38px;
    height: 13px;
    line-height: 1;
    font-size: 9px;
    text-align: center;
    vertical-align: middle;
}
.powerFlow .realtimeData tr:nth-child(2) td {
    /* background: #dfdfdf; */
    font-size: 9px;
    font-weight: 700;
}
.powerFlow .realtimeData tr:nth-child(1) td {
    /* background: rgb(5,192,201); */
    /* background: #272626; */
    background: rgb(0, 28, 61);
    color: rgb(255, 233, 216);
    /* color: #000; */
    font-size: 10px;
    font-weight: 700;
    line-height: 1.6;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    /* text-align: start; */
}
@keyframes blink1 {
    0% { opacity: 1; }
    50% { opacity: 0.95; }
    100% { opacity: 1; }
  }
  
  .blinking {
    animation: blink1 1s linear infinite;
  }